// #############################
//  Data
//  -   SCSS only
// #############################

$black:         #000000;
$white:         #ffffff;
$transparent:   transparent;

$silver:    #a1a1bf;
$metal:     #6b8a99;
$grey:      #aeaeae;

$red:       #f44336;
$crimson:   #e51c23;
$brick:     #d10000;

$pink:      #ff5d77;
$hotpink:   #ff5dff;
$lavender:  #d571f2;

$orange:    #ffad33;
$pumpkin:   #ff5722;
$brown:     #996b5c;

$lemon:     #ffff1a;
$yellow:    #ffeb3b;
$amber:     #ffc107;

$lime:      #cddc39;
$forest:    #8bc34a;
$green:     #4CAF50;

$turquoise: #40E0D0;
$cyan:      #00bcd4;
$teal:      #009688;

$indigo:    #3f51b5;
$blue:      #2196f3;
$sky:       #03a9f4;

$violet:    #673ab7;
$purple:    #9c27b0;
$magenta:   #A10559;

$colors: (    
    /*
    "red":       $red,
    "crimson":   $crimson,
    "brick":     $brick,

    "pink":      $pink,
    "hotpink":   $hotpink,
    "lavender":  $lavender,

    "orange":    $orange,
    "pumpkin":   $pumpkin,
    "brown":     $brown,

    "lemon":     $lemon,
    "yellow":    $yellow,
    "amber":     $amber,

    "lime":      $lime,
    "forest":    $forest,
    "green":     $green,

    "turquoise": $turquoise, 
    "cyan":      $cyan,
    "teal":      $teal,

    "indigo":    $indigo,
    "blue":      $blue,
    "sky":       $sky,

    "violet":    $violet,
    "purple":    $purple,
    "magenta":   $magenta, 
    
    "silver":    $silver,
    "metal":     $metal,
    "grey":      $grey, */
);

$brightness: (
    "light-5":      25%,
    "light-4":      20%,
    "light-3":      15%,
    "light-2":      10%,
    "light-1":      5%,

    "base":         0,
    
    "dark-1":     5%,
    "dark-2":     10%,
    "dark-3":     15%,
    "dark-4":     20%,
    "dark-5":     25%,   
);

$light-5:   map-get($brightness, "light-5");
$light-4:   map-get($brightness, "light-4");
$light-3:   map-get($brightness, "light-3");
$light-2:   map-get($brightness, "light-2");
$light-1:   map-get($brightness, "light-1");

$dark-5:   map-get($brightness, "dark-5");
$dark-4:   map-get($brightness, "dark-4");
$dark-3:   map-get($brightness, "dark-3");
$dark-2:   map-get($brightness, "dark-2");
$dark-1:   map-get($brightness, "dark-1");

$primary:      $purple;
$secondary:    lighten($purple, $light-3);
$tertiary:     $yellow;

$focus:        lighten($blue, $light-1);

$theme-colors: (
    "primary":      $primary,
    "secondary":    $secondary,
    "tertiary":     $tertiary,
    
    "prompt":       $blue,
    "info":         $sky,
    "success":      $green,
    "warning":      $orange,
    "danger":       $red,
    
    "focus":        $focus
);

$shades: (
    "black":        $black,
    "white":        $white,
    "transparent":  $transparent,
);

/* ############################
    Color Styles
    -   scss/_colors.scss
############################ */
    
@each $name,$hex in $colors {
    @each $shade, $percent in $brightness {
        @if $shade == "base" {
            .#{$name} {
                background-color: $hex !important;
            }    
            .#{$name}-text {
                color: $hex !important;
            }  
        } @else {
            @if str-index($shade, "dark") != null {
                .#{$name}.#{$shade} {
                    background-color: darken($hex, $percent) !important;
                }    
                .#{$name}-text.#{$shade}-text {
                    color: darken($hex, $percent) !important;
                    
                    &.nav ul li a {
                         color: darken($hex, $percent) !important;
                    }
                }  
            } @else if str-index($shade, "light") != null {       
                .#{$name}.#{$shade} {
                    background-color: lighten($hex, $percent) !important;
                }    
                .#{$name}-text.#{$shade}-text {
                    color: lighten($hex, $percent) !important;
                    
                    &.nav ul li a {
                         color: lighten($hex, $percent) !important;
                    }
                }  
            }
        }   
    }  
}

@each $name, $hex in $theme-colors {
    .#{$name} {
        background-color: $hex !important;
    }    
    .#{$name}-text {
        color: $hex !important;
        
        &.nav ul li a {
             color: $hex !important;
        }
    }  
}