// #############################
//  Data
//  -   SCSS only
// #############################

/* ############################
    Footer Styles
    -   scss/footer.scss
############################ */

.footer {
    background: $shadow;
    color: $white;
    padding:  5px $section-padding 25px;
}