/* ############################
    Helper Styles
############################ */

// Space & Position Helpers

.center {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-top-pad, .no-vert-pad, .no-pad {
    padding-top: 0;
}

.no-bottom-pad, .no-vert-pad, .no-pad {
    padding-bottom: 0;
}

.no-left-pad, .no-side-pad, .no-pad {
    padding-left: 0;
}

.no-right-pad, .no-side-pad, .no-pad {
    padding-right: 0;
}

.no-margin, .row.no-margin {
    margin: 0;
}

.cover {
    height: 100vh;
    width: 100%;
}

.valign-top {
    position: absolute;
    top: 0;
    bottom: none;
}

.valign-middle {
    position: absolute;
    top: 50%;
    bottom: none;
    @include transform(translateY(-50%));

}

valign-bottom {
    position: absolute;
    top: none;
    bottom: 0;
}

// Text Helpers

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.double-space, .double-space p {
    line-height: 200%;
}

.extra-space, .extra-space p {
    line-height: 166%;
}

.point-75-space, .point-75-space p {
    line-height: 175%;
}

.point-5-space, .point-5-space p {
    line-height: 150%;
}

.more-space, .more-space p {
    line-height: 133%;
}

.point-25-space, .point-25-space p {
    line-height: 125%;
}