// #############################
//  Data
//  -   SCSS only
// #############################

$nav-height: 50px;
$nav-color: rgba($black, 0.25);

$nav-btn-margin: 5px;
$nav-btn-padding: 0 25px;
$nav-btn-size: $nav-height - $nav-btn-margin * 2;

$overlay-color: $black or #000000;

/* ############################
    Navigation Styles
    -   scss/_nav.scss
############################ */

// Main Navigation Wrapper
.nav {
    position: relative;
    height: $nav-height;
    background: $nav-color;
    line-height: $nav-height;

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    // Navigation Menu
    ul {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        
        // Nav Menu Item Wrapper
        > li {
            display: inline-block;
            line-height: $nav-height;

            // Nav Menu Item
            > a {
                color: $white;
                display: block;
                text-shadow: darken($grey, $dark-5) 1px 1px 2px;
                letter-spacing: 1px;
                padding: $nav-btn-padding;
                @include border-radius(0);
                @include transition(all 0.5s ease 0s);
            }
            
        }
        
        // Nav Menu Item Hover Styles
        > li:hover a {
            color: $black;
            background: $white;
        }
    }
    
    // Nav Manu Hang Over Picture
    &.overhang {
        margin-bottom: -$nav-height;
        z-index: 100;
    }
}

.admin {
    background: $black;
    color: $white;
    height: 20px;
    
    & .button-nav {
        padding: 0 5px;
        & > ul {
            float: left;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            fomt-weight: bold;
            color: $white;
            display: flex;
            justify-content: flex-start;
            
            & > li {
                display: inline-block;
            
                & > a {
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 1px;
                    @include transition(all 0.5s ease 0s);

                    &:hover {
                        color: $highlight;
                    }
                }
                
                & + li {
                    margin-left: 5px;
                }
            }
        }
    }
}

// Sticky Nav
.nav {
    &.sticky {
        position: fixed;
        width: 100%;
        background: $black;
        z-index: 10;
        opacity: 0;
        transition: all 0.6s;
        transform: translate(0px, -100%);
        
        &.active {
            opacity: 1;
            transform: translate(0px, 0%);
        }
    }
}

body.menu-open {
    .nav {
        &.sticky.active {
             transform: translate(-400px, 0%);
        }
    }
}

// Brand
.brand {
    font-size: 200%;
    color: $white;
    margin: 0;
    padding: 0;
}

// Menu Button
.menu-btn, .close-btn {
    display: inline-block;
    color: $white;
    width: $nav-btn-size;
    height: $nav-btn-size;
    line-height: $nav-btn-size;
    font-size: 25px;
    margin: $nav-btn-margin;
    text-align: center;
    @include transition();
    @include border-radius(5px);
    
    &:hover, &:focus {
        color: $black;
        background: $white;
    }
}

@include respond-to($small, true){
    .nav {
        ul {
            position: relative;
            display: block;
            justify-content: flex-start;
            background: $nav-color;
            bottom: 0;
            height: 100%;
            overflow: hidden;
            width: 60%;
            max-width: 480px;
            
            > li {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                
                > a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                }
            }
        }
    }
}

body { 
    .main-content {
        @include transition(all 0.6s);
        //@include transform(translateX(0px));
    }
    .nav-content {
        color: $white;
        background: $black;
        text-align: center;
        width: 400px;
        height: 100%;
        padding: 0 15px;
        overflow: auto;
        z-index: 5;
        @include position(fixed 0px 0px 0 0);
        @include transition(all 0.6s);
        @include transform(translateX(100%));
        
        hr.break {
			margin-bottom: 20px;
		}

		ul {
			padding: 0 15px;

			> li {
				border: solid 4px transparent;
				@include transition();	

				> a {
					display: block;
					height: 35px;
					line-height: 35px;
					color: $white;
					box-sizing: content-box;
					@include transition();	
				}

				> ul {
					padding: 0;

					> li {
						border-top-width: 0px;
						border-bottom-width: 0px;

						> a {
							height: 0;
							color: transparent;
							box-sizing: content-box;

							@include transition();	


						}

						&:hover a {
							color: $black;
							background: $white;
						}
					}
				}

				&:hover {
					border: solid 4px $white;

					> a {
						color: $black;
						background: $white;
					}

					> ul > li {
						border-top-width: 4px;
						border-bottom-width: 4px;

						> a {
							height: 35px;
							color: $white;

							&:hover {
								color: $black;
							}
						}
					}
				}
			}
		}
    }
}

// Full Page Nav
body.menu-open {
	overflow: hidden;

	.main-content {
        pointer-events: none;
        @include transform(translateX(-400px));
        @include transform(translateX(-400px));
    }
   
	.nav-content {
		@include transform(translateX(0%));
	}
}

body {
    &:before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $overlay-color;
        background-attachment: fixed;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        @include transform(translateX(0px));
        @include transition(all 0.6s);
    }

    &.menu-open:before {
        opacity: 0.25;
        pointer-events: all;   
        @include transform(translateX(-400px));
    }
}
