// #############################
//  Data
//  -   SCSS only
// #############################

/* ############################
    Panel Styles
    -   scss/_panels.scss
############################ */

.panel {
    background: light($grey, $light-5);
    padding: 15px;
    @include border-radius(10px);
    margin-bottom: $spacer-height;
}
