// #############################
//  Data
//  -   SCSS only
// #############################

/* ############################
    Panel Styles
    -   scss/_panels.scss
############################ */

.panel {
    background: light($grey, $light-5);
    @include border-radius(10px);
    margin-bottom: $spacer-height;
    
    header {
        padding: 10px 15px 0px;
    }
    
    section {
        padding: 10px 15px;
    }
    
    footer {
        padding: 0px 15px 10px;
    }
}
