// #############################
//  Data
//  -   SCSS only
// #############################

/* ############################
    Typography Styles
    -   scss/_reset.scss
############################ */

a {
    text-decoration: none;
}

body {
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: monospace;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

h5 {
    font-size: 110%;
}

h6 {
    font-size: 90%;
}

hr {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #eeeeee;
}

p {
    text-align: justify;
    margin-bottom: 15px;

}