// #############################
//  Data
//  -   SCSS only
// #############################

@import "manifest";

/* ############################
    Application Styles
    -   scss/app.scss
############################ */

/* ############################
    Nav Styles
############################ */
.brand {
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    text-align: left;
    letter-spacing: 0.1em;
    @include transition();
    
    span {
        font-family: 'Inconsolata', monospace;
    }
}

/* ############################
    Banner Styles
############################ */
#city-banner {
    background-image: url(/images/banners/city.jpg);
    background-size: cover;
}

