<div class="container">
    <div class="row">
        <div class="col xs12 m4">
            <h4>About</h4>
            <p>Left Col</p>
        </div>
        <div class="col xs12 m4">
            <h4>Contact</h4>
            <p>Mid Col</p>
        </div>
        <div class="col xs12 m4">
            <h4>Site Map</h4>
            <p>Right Col</p>
        </div>  
    </div>
</div>
