{{#if context.admin}}
<div class="admin">
    <div class="button-nav">
        <ul>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
        </ul>
    </div>
</div>
{{/if}}
<nav class="nav overhang">
    {{> navbar}}
</nav>
