<title>{{context.title}}</title>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Inconsolata:400,700" 
      rel="stylesheet">
<!-- Font Icons -->
<link href="/fonts/font-awesome/css/font-awesome.min.css" 
      rel="stylesheet">
<!-- Project Styles -->
<!-- ####################
    @RULES

    1: All sass-generated css goes in app.css. DO NOT ADD STYLES TO THIS FILE
    2: All vendor css goes in vendor.css
    3: All custom css goes in style.css
##################### -->
<link href="/css/app.css"
      rel="stylesheet" 
      type="text/css" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
