<div class="container">
    <div class="row">
        <div class="col xs8">
            <h1 class="brand">Shorty<span>DIGITAL</span></h1>
        </div>
        <div class="col xs4">
            <div class="menu-btn right"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
    </div>
</div>