{{!< layout/master.handlebars}}
{{!-- about.handlebars in views--}}

<div class="container">
    <div class="row">
        <div class="col m4">
            <div style="display: block; width: 200px; height: 200px; margin: 0 auto; border-radius: 50%; background: #eeeeee"></div>
        </div>
        <div class="col m8">
            <h4>Chris Coppola</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend nunc eu dolor scelerisque, eu elementum nisi sodales. Aenean faucibus accumsan ligula, non ornare augue finibus tristique. Nullam pellentesque et orci vitae tempor. Nullam in purus lacinia libero aliquam placerat. Nulla eleifend cursus nunc, id imperdiet justo molestie nec. Morbi
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Proficiencies:</h5>
        </div>
        <div class="col s6 l4">
            <div class="panel blue">
                <h6>Programming</h6>
                <ul class="chips">
                    <li>Java</li>
                    <li>Android</li>
                    <li>C/C++/C#</li>
                    <li>Python</li>
                </ul>
            </div>
            <div class="panel indigo">
                <h6>Object Oriented Programming</h6>
                <ul class="chips">
                    <li>Abstraction</li>
                    <li>Inheritance</li>
                    <li>Polymorphism</li>
                    <li>Encapsulation</li>
                    <li>Design Patterns</li>
                </ul>
            </div>
            <div class="panel purple">
                <h6>Project Management</h6>
                <ul class="chips">
                    <li>Git</li>
                    <li>NPM</li>
                    <li>Maven</li>
                    <li>Site Hosting</li>
                </ul>
            </div>
        </div>
        <div class="col 6 l4">
            <div class="panel red">
                <h6>Web Design</h6>
                <ul class="chips">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>SASS</li>
                    <li>Bootstrap 3</li>
                    <li>Materialize</li>
                </ul>
            </div>
            <div class="panel orange">
                <h6>Javascript</h6>
                <ul class="chips">
                    <li>Javascript</li>
                    <li>JQuery</li>
                    <li>AJAX</li>
                    <li>Ember.js</li>
                </ul>
            </div>
            <div class="panel yellow">
                <h6>Node.js</h6>
                <ul class="chips">
                    <li>Express</li>
                    <li>Grunt.js</li>
                    <li>Handlebars.js</li>
                    <li>EJS</li>
                </ul>
            </div>
        </div>       
        <div class="col 12 l4">
            <div class="row">
                <div class="col 6 m6 l12">
                    <div class="panel green">
                        <h6>Server Development</h6>
                        <ul class="chips fix">
                            <li>PHP</li>
                            <li>Apache</li>
                            <li>XAMPP</li> 
                            <li>Node.js</li>
                        </ul>
                    </div>
                </div>
                <div class="col 6 m6 l12">
                    <div class="panel cyan">
                        <h6>Database &amp; CMS</h6>
                        <ul class="chips">
                            <li>MySQL</li>
                            <li>MongoDB</li>
                            <li>Wordpress</li>
                            <li>Kentico</li>
                        </ul>
                    </div>
                </div>
            </div>     
        </div>  
    </div>        
</div>