{{#if admin}}
    {{> header-blog}}
{{/if}}
<div class="container">
    <form method="post">
        <div class="row">
            <div class="input-field col s6">
                <label for="title">Title</label>
                <input id="newArticleTitle"
                       type="text" 
                       name="title" 
                       value="{{post.title}}"
                       placeholder="Title"/>
            </div>
            <div class="input-field col s6">
                <label for="author">Posted By</label>
                <input id="newArticleAuthor"
                       type="text" 
                       name="author" 
                       value="{{post.author}}"
                       placeholder="Author"/>
            </div>
        </div>
        <div class="row">
            <div class="input-field col">
                <label for="body">Content</label>
                <textarea id="newArticleBody"
                          type="text" 
                          name="body"
                          style="min-width: 500px; min-height: 300px;"
                          placeholder="Enter post content here...">{{post.body}}</textarea>
            </div>
        </div>
        <input id="editArticleSubmit"
           class="btn"
           type="submit" 
           value="Submit Post"/>
    </form>
</div>