{{!< layout/master.handlebars}}
{{!-- blog-post.handlebars in views--}}
{{#if admin}}
    {{> header-blog}}
{{/if}}
{{#if post}}
<div class="container">
    <h2>{{post.title}}</h2>
    <h5>Posted By: {{post.author}}</h5>
    <div>
        <p>
            {{post.body}}
        </p>
    </div>
</div>
{{/if}}
