{{!< layout/master.handlebars}}
{{!-- blog.handlebars in views--}}
{{#if admin}}
    {{> header-blog}}
{{/if}}
<section class="pad-side-0">
    <div class="primary">
        <div class="container">
            <h1 class="display white-text">This is a blog</h1>
        </div>
    </div>
    <div class="container">
            <h4 class="display">I am a <span class="alt">blogger</span> now :D</h4>
        </div>
</section>
<section>
    <div class="container">
        <div class="panel white">
            {{#each posts}}
            <h2>{{title}}</h2>
            <h5>Posted By: {{author}}</h5>
            <div>
                <p>
                    {{snippet}}
                </p>
            </div>
            <br/>
            <div>
                <a href="/blog/{{_id}}">Read More</a>
            </div>
            <hr/>
            {{/each}}    
        </div>
    </div>
</section>
