{{!< layout/master.handlebars}}
{{!-- blog.handlebars in views--}}
{{#if admin}}
    {{> header-blog}}
{{/if}}
<div class="container">
    {{#each posts}}
    <h2>{{title}}</h2>
    <h5>Posted By: {{author}}</h5>
    <div>
        <p>
            {{snippet}}
        </p>
    </div>
    <br/>
    <div>
        <a href="/blog/{{_id}}">Read More</a>
    </div>
    <hr/>
    {{/each}}
</div>