{{!< layout/master.handlebars}}
{{!-- blog.handlebars in views--}}

<div>
    {{#each posts}}
    <h2>{{title}}</h2>
    <h5>Posted By: {{author}}</h5>
    <div>
        <p>
            {{snippet}}
        </p>
    </div>
    {{/each}}
</div>