
{{!< layout/master.handlebars}}
{{!-- index.handlebars in views--}}
{{> components/banner 
    name="main" 
    title="Chris Coppola" 
    subtitle="Professional Nerd"
    classes="cover"
    overlay-classes="light"
}}
<section id="love-to-code" class="white">
    <div class="container">
        <h1>I <span class="primary-text">love</span> to code ...</h1>
        <hr class="break short center primary"/> 
        <div class="content">
            <h3>
                <i class="fa fa-code" aria-hidden="true"></i>
            </h3>
            <p class="lead-strong">
                Code can be beautiful. Coding is both an art, and a science. I love the feeling of solving a problem or creating a complex system. I focus on making code both readable and efficient. I am always looking to code new things. Whether it be configuring a web server, writing a game engines, or creating a rich REST api, I look forward to meeting the challenge!</p>
            <pre class="java center max-400">
class Code {
    public bool isBeautiful = false;
    public Code(bool isBeautiful){
        this.isBeautiful = isBeautiful;
    }
    
    public static void main(string args[]){
        Code code = new Code(true);
        System.out.println("Code is " + code.isBeautiful + "!");
    }
}</pre>
        </div>
    </div>
</section>
<section id="code-is-beautiful">
    <div class="background parallax"></div>
    <div class="overlay light"></div>
    <div class="caption-boxes">
        <p>Code is Beautiful</p>
    </div>
</section>
<section id="love-to-learn" class="white">
    <div class="container">  
        <h1>I <span class="primary-text">love</span> to learn ...</h1>
        <hr class="break short center primary"/> 
        <div class="row">
            <div class="col xs12">
                <p class="content">I have experience in a variety of languages, frameworks, and programs. Below is an overview of what I know. If you would like to learn more, check out my full resume.</p>
                <a class="btn modern x-large primary right" href="/about/resume">View My Resume</a>
            </div>
        </div>
    </div>
</section>
<section id="experience-table">
    <div class="background parallax"></div>
    <div class="overlay light"></div>
    <div class="container icon-gallery">
        <div class="panel white">
            <section>
                <div class="row">
                    <div class="col xs6 m3">
                        <div class="gallery-image">
                            <img src="/images/programming/html-icon.png"/>
                        </div>
                        <div class="gallery-content">
                            <h5 class="text-center">Front End</h5>
                            <hr class="break short center"/>
                            <ul>
                                <li>HTML 5</li>
                                <li>Handlebars</li>
                                <li>EJS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col xs6 m3">
                        <div class="gallery-image">
                            <img src="/images/programming/css-icon.png"/>
                        </div>
                        <div class="gallery-content">
                            <h5 class="text-center">Style</h5>
                            <hr class="break short center"/>
                            <ul>
                                <li>CSS3</li>
                                <li>SASS</li>
                                <li>Bootstrap</li>
                                <li>Material Design</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col xs6 m3">
                        <div class="gallery-image">
                            <img src="/images/programming/js-icon.png"/>
                        </div>
                        <div class="gallery-content">
                            <h5 class="text-center">Javascript</h5>
                            <hr class="break short center"/>
                            <ul>
                                <li>jQuery</li>
                                <li>Ember.js</li>
                                <li>AJAX</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col xs6 m3">
                        <div class="gallery-image">
                            <img src="/images/programming/node-icon.png"/>
                        </div>
                        <div class="gallery-content">
                            <h5 class="text-center">Server</h5>
                            <hr class="break short center"/>
                            <ul>
                                <li>Node.js</li>
                                <li>Express</li>
                                <li>Apache</li>
                                <li>XAMPP</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col xs6 m3">
                        <div class="gallery-image">
                            <img src="/images/programming/java-icon.png"/>
                        </div>
                        <div class="gallery-content">
                            <h5 class="text-center">Programming</h5>
                            <hr class="break short center"/>
                            <ul>
                                <li>Java 8</li>
                                <li>C#/C++</li>
                                <li>PHP 5</li>
                                <li>Python</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col xs6 m3">
                        <div class="gallery-image">
                            <img class="wide" src="/images/programming/mongo-icon.png"/>
                        </div>
                        <div class="gallery-content">
                            <h5 class="text-center">Database / CMS</h5>
                            <hr class="break short center"/>
                            <ul>
                                <li>Wordpress</li>
                                <li>Kentico</li>
                                <li>MySQL</li>
                                <li>monboDB</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col xs6 m3">
                        <div class="gallery-image">
                            <img class="wide" src="/images/programming/git-icon.png"/>
                        </div>
                        <div class="gallery-content">
                            <h5 class="text-center">Project Management</h5>
                            <hr class="break short center"/>
                            <ul>
                                <li>Git/Github</li>
                                <li>NPM</li>
                                <li>Maven</li>
                                <li>Grunt.js</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col xs6 m3">
                        <div class="gallery-image">
                            <img class="wide" src="/images/programming/android-icon.png"/>
                        </div>
                        <div class="gallery-content">
                            <h5 class="text-center">Mobile</h5>
                            <hr class="break short center"/>
                            <ul>
                                <li>Android</li>
                                <li>iOS (soon!)</li>
                                <li>Responsive Design</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
