{{!< layout/master.handlebars}}
{{!-- index.handlebars in views--}}

<h1>{{title}}</h1>
<p>
    This is the {{title}} page!
</p>

{{#container}}
{{#row}}
{{#col class="md4"}}
    Test1
{{/col}}
{{#col class="md4"}}
    Test2
{{/col}}
{{#col class="md4"}}
    Test3
{{/col}}
{{#col class="md4"}}
    Test4
{{/col}}
{{/row}}
{{/container}}