{{!< layout/master.handlebars}}
{{!-- index.handlebars in views--}}

<section>
    <div class="container">
        <div class="row">
            <div class="col xs12">
                <h1 class="display">SASS Framework</h1>
                <h2 class="display">Typography</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="white panel">
            <div class="container">
                <div class="row">
                    <div class="col xs12">
                        <h1>Paragraphs</h1>
                        <hr class="break short secondary">
                        <p>What you see right here is a basic <code class="wrap">p</code> element. Paragraphs with or below the <code>content</code> class have variable text size based on the screen size. Try resizing the window and see what happens...</p>
                        
                        <p>There are a few classes you can use to augment your paragraphs.</p>
                        <p></p>
                        <hr class="break double short center">
                        <h2 class="">Leading Paragraphs</h2>
                        <div class="row">
                            <div class="col xs12 m6">
                                <p class="leading">This is a leading paragraph! Applying the <code>leading</code> class to a paragraph will highlight the first line, and also accent the first letter. Useful in blog type settings.</p>
                            </div>
                            <div class="col xs12 m6">
                                <pre class="html">
<p class="leading">
    This is a leading paragraph!
</p>
<p>This is a normal paragraph!</p>
</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="break nine-tenths center"/>
                <div class="row">
                   <div class="col xs12">
                        <h1 class="">Headers</h1>
                        <hr class="break short secondary">
                       <p>Headers are an integral part of good website design. They break up the text, and can also add some style to your site. Headers come in both regular and "Display" flavors.</p>
                    </div>
                    <h2 class="">Normal Headers</h2>
                    <div class="col xs12">
                        <p>Regular headers are meant to be used within <code class="wrap">p</code> tags and as a child if the <code>content</code> class. These are used to separate text into sections, like in a text document!</p>
                    </div>
                    <div class="col xs12 m6">
                        <h1 class="space-0">Header 1</h1>
                        <h2 class="space-0">Header 2</h2>
                        <h3 class="space-0">Header 3</h3>
                        <h4 class="space-0">Header 4</h4>
                        <h5 class="space-0">Header 5</h5>
                        <h6 class="space-0">Header 6</h6>
                    </div>
                    <div class="col xs12 m6">
                        <pre class="html">
<div class="container">
    <h1 class="space-0">Header 1</h1>
    <h2 class="space-0">Header 2</h2>
    <h3 class="space-0">Header 3</h3>
    <h4 class="space-0">Header 4</h4>
    <h5 class="space-0">Header 5</h5>
    <h6 class="space-0">Header 6</h6>
</div>
</pre>
                    </div>
                </div>
                <div class="row">
                    <div class="col xs12">
                        <h2 class="">Display Headers</h2>
                        <p>Display headers are meant to be used as "Design Elements", and accent the pages design.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="secondary">
    <div class="container">
        <h1 class="display center white-text">Examples of Headers</h1>
        <div class="white panel">
            <div class="row">
                <div class="col xs12 m8">
                    <h1 class="display">Display <span>Header</span> 1</h1>
                    <h2 class="display">Display <span>Header</span> 2</h2>
                    <h3 class="display">Display <span>Header</span> 3</h3>
                    <h4 class="display">Display <span>Header</span> 4</h4>
                    <h5 class="display">Display <span>Header</span> 5</h5>
                    <h6 class="display">Display <span>Header</span> 6</h6>
                </div>
                <div class="col xs12 m4">
                    <h1>Header 1</h1>
                    <h2>Header 2</h2>
                    <h3>Header 3</h3>
                    <h4>Header 4</h4>  
                    <h5>Header 5</h5>
                    <h6>Header 6</h6>
                </div>
            </div>
        </div>
    </div>
    
</section>