@charset "UTF-8";

.input-field input[type="text"]:focus, .input-field textarea:focus, .input-field input.focus[type="text"], .input-field textarea.focus {
    border-color: #969696;
    box-shadow: #eeeeee 0 0 10px 10px, #dddddd 0 0 8px 6px;
    outline: none;
}

/* ############################
    Reset Styles
    -   scss/_reset.scss

    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
############################ */
* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.row:after {
    display: block;
    clear: both;
    content: '';
}

/* ############################
    Colors Styles
    -   sass/colors
############################ */
.black:not(svg) {
    background-color: #000000;
}

.black-text {
    color: #000000;
}

.overlay .overlay-content.black {
    background-color: #000000;
}

.inverse:not(svg) {
    background-color: #222222;
}

.inverse-text {
    color: #222222;
}

.overlay .overlay-content.inverse {
    background-color: #222222;
}

.highlight:not(svg) {
    background-color: #fffb98;
}

.highlight-text {
    color: #fffb98;
}

.overlay .overlay-content.highlight {
    background-color: #fffb98;
}

.white:not(svg) {
    background-color: #ffffff;
}

.white-text {
    color: #ffffff;
}

.overlay .overlay-content.white {
    background-color: #ffffff;
}

.transparent:not(svg) {
    background-color: transparent;
}

.transparent-text {
    color: transparent;
}

.overlay .overlay-content.transparent {
    background-color: transparent;
}

.primary {
    background-color: #00bcd4;
}

.primary-text {
    color: #00bcd4;
}

.primary-text.nav ul li a {
    color: #00bcd4;
}

.overlay .overlay-content.primary {
    background-color: #00bcd4;
}

.secondary {
    background-color: #673ab7;
}

.secondary-text {
    color: #673ab7;
}

.secondary-text.nav ul li a {
    color: #673ab7;
}

.overlay .overlay-content.secondary {
    background-color: #673ab7;
}

.tertiary {
    background-color: #8bc34a;
}

.tertiary-text {
    color: #8bc34a;
}

.tertiary-text.nav ul li a {
    color: #8bc34a;
}

.overlay .overlay-content.tertiary {
    background-color: #8bc34a;
}

.quaternary {
    background-color: #ffeb3b;
}

.quaternary-text {
    color: #ffeb3b;
}

.quaternary-text.nav ul li a {
    color: #ffeb3b;
}

.overlay .overlay-content.quaternary {
    background-color: #ffeb3b;
}

.quinary {
    background-color: #d10000;
}

.quinary-text {
    color: #d10000;
}

.quinary-text.nav ul li a {
    color: #d10000;
}

.overlay .overlay-content.quinary {
    background-color: #d10000;
}

.senary {
    background-color: #ffad33;
}

.senary-text {
    color: #ffad33;
}

.senary-text.nav ul li a {
    color: #ffad33;
}

.overlay .overlay-content.senary {
    background-color: #ffad33;
}

.prompt {
    background-color: #2196f3;
}

.prompt-text {
    color: #2196f3;
}

.prompt-text.nav ul li a {
    color: #2196f3;
}

.overlay .overlay-content.prompt {
    background-color: #2196f3;
}

.info {
    background-color: #03a9f4;
}

.info-text {
    color: #03a9f4;
}

.info-text.nav ul li a {
    color: #03a9f4;
}

.overlay .overlay-content.info {
    background-color: #03a9f4;
}

.success {
    background-color: #4CAF50;
}

.success-text {
    color: #4CAF50;
}

.success-text.nav ul li a {
    color: #4CAF50;
}

.overlay .overlay-content.success {
    background-color: #4CAF50;
}

.warning {
    background-color: #ffad33;
}

.warning-text {
    color: #ffad33;
}

.warning-text.nav ul li a {
    color: #ffad33;
}

.overlay .overlay-content.warning {
    background-color: #ffad33;
}

.danger {
    background-color: #f44336;
}

.danger-text {
    color: #f44336;
}

.danger-text.nav ul li a {
    color: #f44336;
}

.overlay .overlay-content.danger {
    background-color: #f44336;
}

/* ############################
    Typography Styles
    -   scss/typography
############################ */
body {
    font-family: "Roboto Condensed", sans-serif;
    color: #000000;
}

textarea {
    font-family: "Roboto Condensed", sans-serif;
    color: #000000;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

h1, .h1 {
    font-size: 250%;
}

h2, .h2 {
    font-size: 200%;
}

h2.display, .h2.display {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    color: #00bcd4;
    font-size: 350%;
    font-style: italic;
    letter-spacing: 0.1em;
    text-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
}

h3, .h3 {
    font-size: 150%;
}

h3.display, .h3.display {
    color: #aeaeae;
}

h3.display:after, .h3.display:after {
    display: block;
    content: "";
    width: 100%;
    margin-top: 5px;
    text-transform: uppercase;
    border-bottom: solid 1px;
    box-shadow: rgba(174, 174, 174, 0.25) 0 0 2px;
}

h4, .h4 {
    font-size: 125%;
}

h5, .h5 {
    font-size: 110%;
}

h6, .h6 {
    font-size: 90%;
}

/*
h1.display {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 400%;
    text-transform: uppercase;
    color: #74A6CE;
    letter-spacing: 0.1em;
    text-shadow: #222222 0 0 2px, #444444 4px 4px;
}

h2.display {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    color: #74A6CE;
    font-size: 350%;
    font-style: italic;
    letter-spacing: 0.1em;
    text-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
}

h3.display {
    background-color: #74A6CE;
    padding: 5px 0;
    border: solid 1px #45aaee;

    border-top-right-radius: 2px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 2px;
}

h4.display {
    color: #777777;
}

h4.display:after {
    display: block;
    content: "";
    width: 100%;
    margin-top: 5px;
    text-transform: uppercase;
    border-bottom: solid 1px; 
    box-shadow: rgba(110, 110, 110, 0.25) 0 0 2px;
}
*/
p {
    text-align: left;
    line-height: 133%;
    font-size: 1em;
}

p + p {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #00bcd4;
}

a:hover {
    color: #22e6ff;
}

a:focus, a.focus, a:active, a.active {
    color: #673ab7;
}

em {
    font-style: italic;
}

small {
    font-size: 80%;
}

strong {
    font-weight: bold;
}

q {
    quotes: "“" "”" "‘" "’";
}

q:before, q:after {
    font-family: "Georgia", serif;
    display: inline;
    line-height: inherit;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

blockquote {
    background-color: #eeeeee;
    border: solid 4px rgba(174, 174, 174, 0);
    display: block;
    margin: 25px auto 15px;
    max-width: 680px;
    position: relative;
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
  /*
        &:before,
        &:after {
            font-family: $blockquote-font; 
            font-size: 3em;
            line-height: 0.1em;
            vertical-align: -0.5em;
        }

        &:before {
            margin-right: 0.25em;
            content: open-quote;
        }

        &:after {
            margin-left: 0.25em;
            content: close-quote;
        }
        */;
}

blockquote p {
    display: block;
    font-size: 150%;
    padding: 15px;
    quotes: "“" "”" "‘" "’";
    text-indent: 50px;
}

blockquote p:before, blockquote p:after {
    font-size: 5em;
    font-family: "Georgia", serif;
}

blockquote p:before {
    content: open-quote;
    position: absolute;
    color: #ffffff;
    left: -55px;
    top: 25px;
}

blockquote:before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: #aeaeae;
    position: absolute;
    top: -20px;
    left: -10px;
    -webkit-transition: -webkit-transform 0.15s ease, background-color 0.4s ease, border-radius 0.4s ease, font-size 0.4s ease;
    -moz-transition: -moz-transform 0.15s ease, background-color 0.4s ease, border-radius 0.4s ease, font-size 0.4s ease;
    transition: transform 0.15s ease, background-color 0.4s ease, border-radius 0.4s ease, font-size 0.4s ease;
}

blockquote:hover {
    border: solid 4px #00bcd4;
}

blockquote:hover:before {
    background-color: #00bcd4;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

hr {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #eeeeee;
}

/* ############################
    Column Styles
    -   scss/_columns.scss
############################ */
.section {
    padding: 50px 15px;
}

.half-section {
    padding: 25px 15px;
}

.qtr-section {
    padding: 12.5px 15px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 7.5px;
}

.container.large {
    max-width: 1200px;
}

.container .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row + .row {
    margin-top: 10px;
}

.col {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 7.5px 0 7.5px;
}

.col > .col {
    padding-left: 0;
    padding-right: 0;
}

.col.xs1 {
    width: 8.3333333333%;
    margin-left: 0;
}

.col.xs2 {
    width: 16.6666666667%;
    margin-left: 0;
}

.col.xs3 {
    width: 25%;
    margin-left: 0;
}

.col.xs4 {
    width: 33.3333333333%;
    margin-left: 0;
}

.col.xs5 {
    width: 41.6666666667%;
    margin-left: 0;
}

.col.xs6 {
    width: 50%;
    margin-left: 0;
}

.col.xs7 {
    width: 58.3333333333%;
    margin-left: 0;
}

.col.xs8 {
    width: 66.6666666667%;
    margin-left: 0;
}

.col.xs9 {
    width: 75%;
    margin-left: 0;
}

.col.xs10 {
    width: 83.3333333333%;
    margin-left: 0;
}

.col.xs11 {
    width: 91.6666666667%;
    margin-left: 0;
}

.col.xs12 {
    width: 100%;
    margin-left: 0;
}

.col.offset-xs1 {
    margin-left: 8.3333333333%;
}

.col.push-xs1 {
    left: 8.3333333333%;
}

.col.pull-xs1 {
    right: 8.3333333333%;
}

.col.offset-xs2 {
    margin-left: 16.6666666667%;
}

.col.push-xs2 {
    left: 16.6666666667%;
}

.col.pull-xs2 {
    right: 16.6666666667%;
}

.col.offset-xs3 {
    margin-left: 25%;
}

.col.push-xs3 {
    left: 25%;
}

.col.pull-xs3 {
    right: 25%;
}

.col.offset-xs4 {
    margin-left: 33.3333333333%;
}

.col.push-xs4 {
    left: 33.3333333333%;
}

.col.pull-xs4 {
    right: 33.3333333333%;
}

.col.offset-xs5 {
    margin-left: 41.6666666667%;
}

.col.push-xs5 {
    left: 41.6666666667%;
}

.col.pull-xs5 {
    right: 41.6666666667%;
}

.col.offset-xs6 {
    margin-left: 50%;
}

.col.push-xs6 {
    left: 50%;
}

.col.pull-xs6 {
    right: 50%;
}

.col.offset-xs7 {
    margin-left: 58.3333333333%;
}

.col.push-xs7 {
    left: 58.3333333333%;
}

.col.pull-xs7 {
    right: 58.3333333333%;
}

.col.offset-xs8 {
    margin-left: 66.6666666667%;
}

.col.push-xs8 {
    left: 66.6666666667%;
}

.col.pull-xs8 {
    right: 66.6666666667%;
}

.col.offset-xs9 {
    margin-left: 75%;
}

.col.push-xs9 {
    left: 75%;
}

.col.pull-xs9 {
    right: 75%;
}

.col.offset-xs10 {
    margin-left: 83.3333333333%;
}

.col.push-xs10 {
    left: 83.3333333333%;
}

.col.pull-xs10 {
    right: 83.3333333333%;
}

.col.offset-xs11 {
    margin-left: 91.6666666667%;
}

.col.push-xs11 {
    left: 91.6666666667%;
}

.col.pull-xs11 {
    right: 91.6666666667%;
}

.col.offset-xs12 {
    margin-left: 100%;
}

.col.push-xs12 {
    left: 100%;
}

.col.pull-xs12 {
    right: 100%;
}

@media only screen and (min-width: 480px) {
    .col.ms1 {
        width: 8.3333333333%;
        margin-left: 0;
    }

    .col.ms2 {
        width: 16.6666666667%;
        margin-left: 0;
    }

    .col.ms3 {
        width: 25%;
        margin-left: 0;
    }

    .col.ms4 {
        width: 33.3333333333%;
        margin-left: 0;
    }

    .col.ms5 {
        width: 41.6666666667%;
        margin-left: 0;
    }

    .col.ms6 {
        width: 50%;
        margin-left: 0;
    }

    .col.ms7 {
        width: 58.3333333333%;
        margin-left: 0;
    }

    .col.ms8 {
        width: 66.6666666667%;
        margin-left: 0;
    }

    .col.ms9 {
        width: 75%;
        margin-left: 0;
    }

    .col.ms10 {
        width: 83.3333333333%;
        margin-left: 0;
    }

    .col.ms11 {
        width: 91.6666666667%;
        margin-left: 0;
    }

    .col.ms12 {
        width: 100%;
        margin-left: 0;
    }

    .col.offset-ms1 {
        margin-left: 8.3333333333%;
    }

    .col.push-ms1 {
        left: 8.3333333333%;
    }

    .col.pull-ms1 {
        right: 8.3333333333%;
    }

    .col.offset-ms2 {
        margin-left: 16.6666666667%;
    }

    .col.push-ms2 {
        left: 16.6666666667%;
    }

    .col.pull-ms2 {
        right: 16.6666666667%;
    }

    .col.offset-ms3 {
        margin-left: 25%;
    }

    .col.push-ms3 {
        left: 25%;
    }

    .col.pull-ms3 {
        right: 25%;
    }

    .col.offset-ms4 {
        margin-left: 33.3333333333%;
    }

    .col.push-ms4 {
        left: 33.3333333333%;
    }

    .col.pull-ms4 {
        right: 33.3333333333%;
    }

    .col.offset-ms5 {
        margin-left: 41.6666666667%;
    }

    .col.push-ms5 {
        left: 41.6666666667%;
    }

    .col.pull-ms5 {
        right: 41.6666666667%;
    }

    .col.offset-ms6 {
        margin-left: 50%;
    }

    .col.push-ms6 {
        left: 50%;
    }

    .col.pull-ms6 {
        right: 50%;
    }

    .col.offset-ms7 {
        margin-left: 58.3333333333%;
    }

    .col.push-ms7 {
        left: 58.3333333333%;
    }

    .col.pull-ms7 {
        right: 58.3333333333%;
    }

    .col.offset-ms8 {
        margin-left: 66.6666666667%;
    }

    .col.push-ms8 {
        left: 66.6666666667%;
    }

    .col.pull-ms8 {
        right: 66.6666666667%;
    }

    .col.offset-ms9 {
        margin-left: 75%;
    }

    .col.push-ms9 {
        left: 75%;
    }

    .col.pull-ms9 {
        right: 75%;
    }

    .col.offset-ms10 {
        margin-left: 83.3333333333%;
    }

    .col.push-ms10 {
        left: 83.3333333333%;
    }

    .col.pull-ms10 {
        right: 83.3333333333%;
    }

    .col.offset-ms11 {
        margin-left: 91.6666666667%;
    }

    .col.push-ms11 {
        left: 91.6666666667%;
    }

    .col.pull-ms11 {
        right: 91.6666666667%;
    }

    .col.offset-ms12 {
        margin-left: 100%;
    }

    .col.push-ms12 {
        left: 100%;
    }

    .col.pull-ms12 {
        right: 100%;
    }
}

@media only screen and (min-width: 640px) {
    .col.s1 {
        width: 8.3333333333%;
        margin-left: 0;
    }

    .col.s2 {
        width: 16.6666666667%;
        margin-left: 0;
    }

    .col.s3 {
        width: 25%;
        margin-left: 0;
    }

    .col.s4 {
        width: 33.3333333333%;
        margin-left: 0;
    }

    .col.s5 {
        width: 41.6666666667%;
        margin-left: 0;
    }

    .col.s6 {
        width: 50%;
        margin-left: 0;
    }

    .col.s7 {
        width: 58.3333333333%;
        margin-left: 0;
    }

    .col.s8 {
        width: 66.6666666667%;
        margin-left: 0;
    }

    .col.s9 {
        width: 75%;
        margin-left: 0;
    }

    .col.s10 {
        width: 83.3333333333%;
        margin-left: 0;
    }

    .col.s11 {
        width: 91.6666666667%;
        margin-left: 0;
    }

    .col.s12 {
        width: 100%;
        margin-left: 0;
    }

    .col.offset-s1 {
        margin-left: 8.3333333333%;
    }

    .col.push-s1 {
        left: 8.3333333333%;
    }

    .col.pull-s1 {
        right: 8.3333333333%;
    }

    .col.offset-s2 {
        margin-left: 16.6666666667%;
    }

    .col.push-s2 {
        left: 16.6666666667%;
    }

    .col.pull-s2 {
        right: 16.6666666667%;
    }

    .col.offset-s3 {
        margin-left: 25%;
    }

    .col.push-s3 {
        left: 25%;
    }

    .col.pull-s3 {
        right: 25%;
    }

    .col.offset-s4 {
        margin-left: 33.3333333333%;
    }

    .col.push-s4 {
        left: 33.3333333333%;
    }

    .col.pull-s4 {
        right: 33.3333333333%;
    }

    .col.offset-s5 {
        margin-left: 41.6666666667%;
    }

    .col.push-s5 {
        left: 41.6666666667%;
    }

    .col.pull-s5 {
        right: 41.6666666667%;
    }

    .col.offset-s6 {
        margin-left: 50%;
    }

    .col.push-s6 {
        left: 50%;
    }

    .col.pull-s6 {
        right: 50%;
    }

    .col.offset-s7 {
        margin-left: 58.3333333333%;
    }

    .col.push-s7 {
        left: 58.3333333333%;
    }

    .col.pull-s7 {
        right: 58.3333333333%;
    }

    .col.offset-s8 {
        margin-left: 66.6666666667%;
    }

    .col.push-s8 {
        left: 66.6666666667%;
    }

    .col.pull-s8 {
        right: 66.6666666667%;
    }

    .col.offset-s9 {
        margin-left: 75%;
    }

    .col.push-s9 {
        left: 75%;
    }

    .col.pull-s9 {
        right: 75%;
    }

    .col.offset-s10 {
        margin-left: 83.3333333333%;
    }

    .col.push-s10 {
        left: 83.3333333333%;
    }

    .col.pull-s10 {
        right: 83.3333333333%;
    }

    .col.offset-s11 {
        margin-left: 91.6666666667%;
    }

    .col.push-s11 {
        left: 91.6666666667%;
    }

    .col.pull-s11 {
        right: 91.6666666667%;
    }

    .col.offset-s12 {
        margin-left: 100%;
    }

    .col.push-s12 {
        left: 100%;
    }

    .col.pull-s12 {
        right: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col.m1 {
        width: 8.3333333333%;
        margin-left: 0;
    }

    .col.m2 {
        width: 16.6666666667%;
        margin-left: 0;
    }

    .col.m3 {
        width: 25%;
        margin-left: 0;
    }

    .col.m4 {
        width: 33.3333333333%;
        margin-left: 0;
    }

    .col.m5 {
        width: 41.6666666667%;
        margin-left: 0;
    }

    .col.m6 {
        width: 50%;
        margin-left: 0;
    }

    .col.m7 {
        width: 58.3333333333%;
        margin-left: 0;
    }

    .col.m8 {
        width: 66.6666666667%;
        margin-left: 0;
    }

    .col.m9 {
        width: 75%;
        margin-left: 0;
    }

    .col.m10 {
        width: 83.3333333333%;
        margin-left: 0;
    }

    .col.m11 {
        width: 91.6666666667%;
        margin-left: 0;
    }

    .col.m12 {
        width: 100%;
        margin-left: 0;
    }

    .col.offset-m1 {
        margin-left: 8.3333333333%;
    }

    .col.push-m1 {
        left: 8.3333333333%;
    }

    .col.pull-m1 {
        right: 8.3333333333%;
    }

    .col.offset-m2 {
        margin-left: 16.6666666667%;
    }

    .col.push-m2 {
        left: 16.6666666667%;
    }

    .col.pull-m2 {
        right: 16.6666666667%;
    }

    .col.offset-m3 {
        margin-left: 25%;
    }

    .col.push-m3 {
        left: 25%;
    }

    .col.pull-m3 {
        right: 25%;
    }

    .col.offset-m4 {
        margin-left: 33.3333333333%;
    }

    .col.push-m4 {
        left: 33.3333333333%;
    }

    .col.pull-m4 {
        right: 33.3333333333%;
    }

    .col.offset-m5 {
        margin-left: 41.6666666667%;
    }

    .col.push-m5 {
        left: 41.6666666667%;
    }

    .col.pull-m5 {
        right: 41.6666666667%;
    }

    .col.offset-m6 {
        margin-left: 50%;
    }

    .col.push-m6 {
        left: 50%;
    }

    .col.pull-m6 {
        right: 50%;
    }

    .col.offset-m7 {
        margin-left: 58.3333333333%;
    }

    .col.push-m7 {
        left: 58.3333333333%;
    }

    .col.pull-m7 {
        right: 58.3333333333%;
    }

    .col.offset-m8 {
        margin-left: 66.6666666667%;
    }

    .col.push-m8 {
        left: 66.6666666667%;
    }

    .col.pull-m8 {
        right: 66.6666666667%;
    }

    .col.offset-m9 {
        margin-left: 75%;
    }

    .col.push-m9 {
        left: 75%;
    }

    .col.pull-m9 {
        right: 75%;
    }

    .col.offset-m10 {
        margin-left: 83.3333333333%;
    }

    .col.push-m10 {
        left: 83.3333333333%;
    }

    .col.pull-m10 {
        right: 83.3333333333%;
    }

    .col.offset-m11 {
        margin-left: 91.6666666667%;
    }

    .col.push-m11 {
        left: 91.6666666667%;
    }

    .col.pull-m11 {
        right: 91.6666666667%;
    }

    .col.offset-m12 {
        margin-left: 100%;
    }

    .col.push-m12 {
        left: 100%;
    }

    .col.pull-m12 {
        right: 100%;
    }
}

@media only screen and (min-width: 960px) {
    .col.l1 {
        width: 8.3333333333%;
        margin-left: 0;
    }

    .col.l2 {
        width: 16.6666666667%;
        margin-left: 0;
    }

    .col.l3 {
        width: 25%;
        margin-left: 0;
    }

    .col.l4 {
        width: 33.3333333333%;
        margin-left: 0;
    }

    .col.l5 {
        width: 41.6666666667%;
        margin-left: 0;
    }

    .col.l6 {
        width: 50%;
        margin-left: 0;
    }

    .col.l7 {
        width: 58.3333333333%;
        margin-left: 0;
    }

    .col.l8 {
        width: 66.6666666667%;
        margin-left: 0;
    }

    .col.l9 {
        width: 75%;
        margin-left: 0;
    }

    .col.l10 {
        width: 83.3333333333%;
        margin-left: 0;
    }

    .col.l11 {
        width: 91.6666666667%;
        margin-left: 0;
    }

    .col.l12 {
        width: 100%;
        margin-left: 0;
    }

    .col.offset-l1 {
        margin-left: 8.3333333333%;
    }

    .col.push-l1 {
        left: 8.3333333333%;
    }

    .col.pull-l1 {
        right: 8.3333333333%;
    }

    .col.offset-l2 {
        margin-left: 16.6666666667%;
    }

    .col.push-l2 {
        left: 16.6666666667%;
    }

    .col.pull-l2 {
        right: 16.6666666667%;
    }

    .col.offset-l3 {
        margin-left: 25%;
    }

    .col.push-l3 {
        left: 25%;
    }

    .col.pull-l3 {
        right: 25%;
    }

    .col.offset-l4 {
        margin-left: 33.3333333333%;
    }

    .col.push-l4 {
        left: 33.3333333333%;
    }

    .col.pull-l4 {
        right: 33.3333333333%;
    }

    .col.offset-l5 {
        margin-left: 41.6666666667%;
    }

    .col.push-l5 {
        left: 41.6666666667%;
    }

    .col.pull-l5 {
        right: 41.6666666667%;
    }

    .col.offset-l6 {
        margin-left: 50%;
    }

    .col.push-l6 {
        left: 50%;
    }

    .col.pull-l6 {
        right: 50%;
    }

    .col.offset-l7 {
        margin-left: 58.3333333333%;
    }

    .col.push-l7 {
        left: 58.3333333333%;
    }

    .col.pull-l7 {
        right: 58.3333333333%;
    }

    .col.offset-l8 {
        margin-left: 66.6666666667%;
    }

    .col.push-l8 {
        left: 66.6666666667%;
    }

    .col.pull-l8 {
        right: 66.6666666667%;
    }

    .col.offset-l9 {
        margin-left: 75%;
    }

    .col.push-l9 {
        left: 75%;
    }

    .col.pull-l9 {
        right: 75%;
    }

    .col.offset-l10 {
        margin-left: 83.3333333333%;
    }

    .col.push-l10 {
        left: 83.3333333333%;
    }

    .col.pull-l10 {
        right: 83.3333333333%;
    }

    .col.offset-l11 {
        margin-left: 91.6666666667%;
    }

    .col.push-l11 {
        left: 91.6666666667%;
    }

    .col.pull-l11 {
        right: 91.6666666667%;
    }

    .col.offset-l12 {
        margin-left: 100%;
    }

    .col.push-l12 {
        left: 100%;
    }

    .col.pull-l12 {
        right: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .col.xl1 {
        width: 8.3333333333%;
        margin-left: 0;
    }

    .col.xl2 {
        width: 16.6666666667%;
        margin-left: 0;
    }

    .col.xl3 {
        width: 25%;
        margin-left: 0;
    }

    .col.xl4 {
        width: 33.3333333333%;
        margin-left: 0;
    }

    .col.xl5 {
        width: 41.6666666667%;
        margin-left: 0;
    }

    .col.xl6 {
        width: 50%;
        margin-left: 0;
    }

    .col.xl7 {
        width: 58.3333333333%;
        margin-left: 0;
    }

    .col.xl8 {
        width: 66.6666666667%;
        margin-left: 0;
    }

    .col.xl9 {
        width: 75%;
        margin-left: 0;
    }

    .col.xl10 {
        width: 83.3333333333%;
        margin-left: 0;
    }

    .col.xl11 {
        width: 91.6666666667%;
        margin-left: 0;
    }

    .col.xl12 {
        width: 100%;
        margin-left: 0;
    }

    .col.offset-xl1 {
        margin-left: 8.3333333333%;
    }

    .col.push-xl1 {
        left: 8.3333333333%;
    }

    .col.pull-xl1 {
        right: 8.3333333333%;
    }

    .col.offset-xl2 {
        margin-left: 16.6666666667%;
    }

    .col.push-xl2 {
        left: 16.6666666667%;
    }

    .col.pull-xl2 {
        right: 16.6666666667%;
    }

    .col.offset-xl3 {
        margin-left: 25%;
    }

    .col.push-xl3 {
        left: 25%;
    }

    .col.pull-xl3 {
        right: 25%;
    }

    .col.offset-xl4 {
        margin-left: 33.3333333333%;
    }

    .col.push-xl4 {
        left: 33.3333333333%;
    }

    .col.pull-xl4 {
        right: 33.3333333333%;
    }

    .col.offset-xl5 {
        margin-left: 41.6666666667%;
    }

    .col.push-xl5 {
        left: 41.6666666667%;
    }

    .col.pull-xl5 {
        right: 41.6666666667%;
    }

    .col.offset-xl6 {
        margin-left: 50%;
    }

    .col.push-xl6 {
        left: 50%;
    }

    .col.pull-xl6 {
        right: 50%;
    }

    .col.offset-xl7 {
        margin-left: 58.3333333333%;
    }

    .col.push-xl7 {
        left: 58.3333333333%;
    }

    .col.pull-xl7 {
        right: 58.3333333333%;
    }

    .col.offset-xl8 {
        margin-left: 66.6666666667%;
    }

    .col.push-xl8 {
        left: 66.6666666667%;
    }

    .col.pull-xl8 {
        right: 66.6666666667%;
    }

    .col.offset-xl9 {
        margin-left: 75%;
    }

    .col.push-xl9 {
        left: 75%;
    }

    .col.pull-xl9 {
        right: 75%;
    }

    .col.offset-xl10 {
        margin-left: 83.3333333333%;
    }

    .col.push-xl10 {
        left: 83.3333333333%;
    }

    .col.pull-xl10 {
        right: 83.3333333333%;
    }

    .col.offset-xl11 {
        margin-left: 91.6666666667%;
    }

    .col.push-xl11 {
        left: 91.6666666667%;
    }

    .col.pull-xl11 {
        right: 91.6666666667%;
    }

    .col.offset-xl12 {
        margin-left: 100%;
    }

    .col.push-xl12 {
        left: 100%;
    }

    .col.pull-xl12 {
        right: 100%;
    }
}

.row:after {
    display: block;
    width: 100%;
    clear: both;
    content: '';
}

/* ############################
    Navigation Styles
    -   scss/_nav.scss
############################ */
.nav {
    position: relative;
    height: 50px;
    background: rgba(0, 0, 0, 0.25);
    line-height: 50px;
}

.nav .container {
    padding-top: 0;
    padding-bottom: 0;
}

.nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav ul > li {
    display: inline-block;
}

.nav ul > li > a {
    color: #ffffff;
    font-size: 120%;
    text-shadow: #6e6e6e 1px 1px 2px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 17.5px 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.nav ul > li:hover a {
    color: #00bcd4;
}

.nav.overhang {
    margin-bottom: -50px;
}

.admin {
    background: #000000;
    color: #ffffff;
    height: 20px;
}

.admin .button-nav {
    padding: 0 5px;
}

.admin .button-nav > ul {
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    fomt-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
}

.admin .button-nav > ul > li {
    display: inline-block;
}

.admin .button-nav > ul > li > a {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.admin .button-nav > ul > li > a:hover {
    color: #fffb98;
}

.admin .button-nav > ul > li + li {
    margin-left: 5px;
}

/*
@include respond-to('sm', true){
    .nav {
         & .menu-btn {
            display: inline-block;
        }
        & ul {
            position: relative;
            display: block;
            justify-content: flex-start;
            background: $nav-color;
            bottom: 0;
            height: 100%;
            overflow: hidden;
            width: 60%;
            max-width: 480px;
            
            & > li {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                
                & > a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                }
            }
        }
    }
}*/
.brand {
    font-size: 200%;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.menu-btn {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    border: #d4d4d4 solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* ############################
    Panel Styles
    -   scss/_panels.scss
############################ */
.panel {
    background: light(#aeaeae, 25%);
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* ############################
    Form Styles
    -   scss/form.scss
############################ */
.input-field input[type="text"], .input-field textarea {
    border: solid 1px #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: "all 0.3s ease 0s";
    -moz-transition: "all 0.3s ease 0s";
    -o-transition: "all 0.3s ease 0s";
    transition: "all 0.3s ease 0s";
}

.input-field input[type="text"], .input-field textarea {
    width: 100%;
    padding: 10px;
    margin: 1.5em auto 0.5em auto;
}

.input-field {
    position: relative;
}

.input-field label {
    display: block;
    position: absolute;
    border-bottom: solid 1px #000000;
    margin: 0 auto;
}

.disabled,
a.disabled,
.nav ul > li > a.disabled {
    color: #cccccc;
    border-color: #dddddd;
}

.disabled:hover,
  a.disabled:hover,
  .nav ul > li > a.disabled:hover {
    color: #cccccc;
    border-color: #cccccc;
    cursor: default;
}

/* ############################
    Column Styles
    -   scss/_chips.scss
############################ */
.chips {
    display: flex;
    justify-content: flex-left;
    flex-wrap: wrap;
}

.chips li, .chips .chips.fix:after, .chips .chip {
    height: 32px;
    line-height: 32px;
    font-size: 85%;
    padding: 0px 12px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.chips li {
    display: inline-block;
    background: #eeeeee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.chips li.fix {
    background: transparent;
}

.chips.fix:after {
    content: "";
    display: inline-block;
    background: transparent;
}

.panel .chips > li {
    background: #dddddd;
}

.panel .chips > li.fix {
    background: transparent;
}

.chip {
    display: inline-block;
    background: #eeeeee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.panel .chip {
    background: #dddddd;
}

.panel .chip.fix {
    background: transparent;
}

.chip.fix {
    background: transparent;
}

/* ############################
    Button Styles
    -   sass/buttons
############################ */
.arcade .btn, .arcade.btn {
    position: relative;
    top: 0px;
    color: #7b7b7b;
    background: #aeaeae;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}

.arcade .btn:hover, .arcade.btn:hover {
    color: #7b7b7b;
    background: #aeaeae;
    box-shadow: 0 2.5px;
    top: 2.5px;
}

.arcade .btn:active, .arcade.btn:active, .arcade .btn:focus, .arcade.btn:focus {
    box-shadow: 0 0 #7b7b7b;
    top: 5px;
}

.arcade .x-small.btn:hover, .x-small.arcade.btn:hover {
    box-shadow: 0 2px;
    top: 2px;
}

.arcade .x-small.btn, .x-small.arcade.btn {
    box-shadow: 0 4px;
}

.arcade .x-small.btn:active, .x-small.arcade.btn:active, .arcade .x-small.btn:focus, .x-small.arcade.btn:focus {
    box-shadow: 0 0;
    top: 4px;
}

.arcade .small.btn:hover, .small.arcade.btn:hover {
    box-shadow: 0 2.25px;
    top: 2.25px;
}

.arcade .small.btn, .small.arcade.btn {
    box-shadow: 0 4.5px;
}

.arcade .small.btn:active, .small.arcade.btn:active, .arcade .small.btn:focus, .small.arcade.btn:focus {
    box-shadow: 0 0;
    top: 4.5px;
}

.arcade .large.btn:hover, .large.arcade.btn:hover {
    box-shadow: 0 3.125px;
    top: 3.125px;
}

.arcade .large.btn, .large.arcade.btn {
    box-shadow: 0 6.25px;
}

.arcade .large.btn:active, .large.arcade.btn:active, .arcade .large.btn:focus, .large.arcade.btn:focus {
    box-shadow: 0 0;
    top: 6.25px;
}

.arcade .x-large.btn:hover, .x-large.arcade.btn:hover {
    box-shadow: 0 3.75px;
    top: 3.75px;
}

.arcade .x-large.btn, .x-large.arcade.btn {
    box-shadow: 0 7.5px;
}

.arcade .x-large.btn:active, .x-large.arcade.btn:active, .arcade .x-large.btn:focus, .x-large.arcade.btn:focus {
    box-shadow: 0 0;
    top: 7.5px;
}

.arcade .huge.btn:hover, .huge.arcade.btn:hover {
    box-shadow: 0 4.375px;
    top: 4.375px;
}

.arcade .huge.btn, .huge.arcade.btn {
    box-shadow: 0 8.75px;
}

.arcade .huge.btn:active, .huge.arcade.btn:active, .arcade .huge.btn:focus, .huge.arcade.btn:focus {
    box-shadow: 0 0;
    top: 8.75px;
}

.arcade .primary.btn, .primary.arcade.btn {
    background: #00bcd4;
    color: #00626e;
}

.arcade .primary.btn:hover, .primary.arcade.btn:hover {
    background: #00bcd4;
    color: #00626e;
}

.arcade .secondary.btn, .secondary.arcade.btn {
    background: #673ab7;
    color: #3b216a;
}

.arcade .secondary.btn:hover, .secondary.arcade.btn:hover {
    background: #673ab7;
    color: #3b216a;
}

.arcade .tertiary.btn, .tertiary.arcade.btn {
    background: #8bc34a;
    color: #577d2a;
}

.arcade .tertiary.btn:hover, .tertiary.arcade.btn:hover {
    background: #8bc34a;
    color: #577d2a;
}

.arcade .quaternary.btn, .quaternary.arcade.btn {
    background: #ffeb3b;
    color: #d4be00;
}

.arcade .quaternary.btn:hover, .quaternary.arcade.btn:hover {
    background: #ffeb3b;
    color: #d4be00;
}

.arcade .quinary.btn, .quinary.arcade.btn {
    background: #d10000;
    color: #6b0000;
}

.arcade .quinary.btn:hover, .quinary.arcade.btn:hover {
    background: #d10000;
    color: #6b0000;
}

.arcade .senary.btn, .senary.arcade.btn {
    background: #ffad33;
    color: #cc7a00;
}

.arcade .senary.btn:hover, .senary.arcade.btn:hover {
    background: #ffad33;
    color: #cc7a00;
}

.arcade .prompt.btn, .prompt.arcade.btn {
    background: #2196f3;
    color: #0960a5;
}

.arcade .prompt.btn:hover, .prompt.arcade.btn:hover {
    background: #2196f3;
    color: #0960a5;
}

.arcade .info.btn, .info.arcade.btn {
    background: #03a9f4;
    color: #02638f;
}

.arcade .info.btn:hover, .info.arcade.btn:hover {
    background: #03a9f4;
    color: #02638f;
}

.arcade .success.btn, .success.arcade.btn {
    background: #4CAF50;
    color: #2d682f;
}

.arcade .success.btn:hover, .success.arcade.btn:hover {
    background: #4CAF50;
    color: #2d682f;
}

.arcade .warning.btn, .warning.arcade.btn {
    background: #ffad33;
    color: #cc7a00;
}

.arcade .warning.btn:hover, .warning.arcade.btn:hover {
    background: #ffad33;
    color: #cc7a00;
}

.arcade .danger.btn, .danger.arcade.btn {
    background: #f44336;
    color: #ba160a;
}

.arcade .danger.btn:hover, .danger.arcade.btn:hover {
    background: #f44336;
    color: #ba160a;
}

.flat .btn, .flat.btn {
    color: #ffffff;
    border: solid 3px #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.flat .btn:hover, .flat.btn:hover {
    color: #000000;
    background: #ffffff;
}

.flat .primary.btn:hover, .primary.flat.btn:hover {
    color: #00bcd4 !important;
    background: #ffffff !important;
}

.flat .btn .primary:hover, .flat.btn .primary:hover {
    color: #00bcd4 !important;
    background: #ffffff !important;
}

.flat .secondary.btn:hover, .secondary.flat.btn:hover {
    color: #673ab7 !important;
    background: #ffffff !important;
}

.flat .btn .secondary:hover, .flat.btn .secondary:hover {
    color: #673ab7 !important;
    background: #ffffff !important;
}

.flat .tertiary.btn:hover, .tertiary.flat.btn:hover {
    color: #8bc34a !important;
    background: #ffffff !important;
}

.flat .btn .tertiary:hover, .flat.btn .tertiary:hover {
    color: #8bc34a !important;
    background: #ffffff !important;
}

.flat .quaternary.btn:hover, .quaternary.flat.btn:hover {
    color: #ffeb3b !important;
    background: #ffffff !important;
}

.flat .btn .quaternary:hover, .flat.btn .quaternary:hover {
    color: #ffeb3b !important;
    background: #ffffff !important;
}

.flat .quinary.btn:hover, .quinary.flat.btn:hover {
    color: #d10000 !important;
    background: #ffffff !important;
}

.flat .btn .quinary:hover, .flat.btn .quinary:hover {
    color: #d10000 !important;
    background: #ffffff !important;
}

.flat .senary.btn:hover, .senary.flat.btn:hover {
    color: #ffad33 !important;
    background: #ffffff !important;
}

.flat .btn .senary:hover, .flat.btn .senary:hover {
    color: #ffad33 !important;
    background: #ffffff !important;
}

.flat .prompt.btn:hover, .prompt.flat.btn:hover {
    color: #2196f3 !important;
    background: #ffffff !important;
}

.flat .btn .prompt:hover, .flat.btn .prompt:hover {
    color: #2196f3 !important;
    background: #ffffff !important;
}

.flat .info.btn:hover, .info.flat.btn:hover {
    color: #03a9f4 !important;
    background: #ffffff !important;
}

.flat .btn .info:hover, .flat.btn .info:hover {
    color: #03a9f4 !important;
    background: #ffffff !important;
}

.flat .success.btn:hover, .success.flat.btn:hover {
    color: #4CAF50 !important;
    background: #ffffff !important;
}

.flat .btn .success:hover, .flat.btn .success:hover {
    color: #4CAF50 !important;
    background: #ffffff !important;
}

.flat .warning.btn:hover, .warning.flat.btn:hover {
    color: #ffad33 !important;
    background: #ffffff !important;
}

.flat .btn .warning:hover, .flat.btn .warning:hover {
    color: #ffad33 !important;
    background: #ffffff !important;
}

.flat .danger.btn:hover, .danger.flat.btn:hover {
    color: #f44336 !important;
    background: #ffffff !important;
}

.flat .btn .danger:hover, .flat.btn .danger:hover {
    color: #f44336 !important;
    background: #ffffff !important;
}

.flat .primary.btn:hover, .primary.flat.btn:hover, .flat .btn .flat .primary.btn:hover, .flat.btn .flat .primary.btn:hover {
    color: #00bcd4;
    background: #ffffff !important;
}

.flat .secondary.btn:hover, .secondary.flat.btn:hover, .flat .btn .flat .secondary.btn:hover, .flat.btn .flat .secondary.btn:hover {
    color: #673ab7;
    background: #ffffff !important;
}

.flat .tertiary.btn:hover, .tertiary.flat.btn:hover, .flat .btn .flat .tertiary.btn:hover, .flat.btn .flat .tertiary.btn:hover {
    color: #8bc34a;
    background: #ffffff !important;
}

.flat .quaternary.btn:hover, .quaternary.flat.btn:hover, .flat .btn .flat .quaternary.btn:hover, .flat.btn .flat .quaternary.btn:hover {
    color: #ffeb3b;
    background: #ffffff !important;
}

.flat .quinary.btn:hover, .quinary.flat.btn:hover, .flat .btn .flat .quinary.btn:hover, .flat.btn .flat .quinary.btn:hover {
    color: #d10000;
    background: #ffffff !important;
}

.flat .senary.btn:hover, .senary.flat.btn:hover, .flat .btn .flat .senary.btn:hover, .flat.btn .flat .senary.btn:hover {
    color: #ffad33;
    background: #ffffff !important;
}

.flat .prompt.btn:hover, .prompt.flat.btn:hover, .flat .btn .flat .prompt.btn:hover, .flat.btn .flat .prompt.btn:hover {
    color: #2196f3;
    background: #ffffff !important;
}

.flat .info.btn:hover, .info.flat.btn:hover, .flat .btn .flat .info.btn:hover, .flat.btn .flat .info.btn:hover {
    color: #03a9f4;
    background: #ffffff !important;
}

.flat .success.btn:hover, .success.flat.btn:hover, .flat .btn .flat .success.btn:hover, .flat.btn .flat .success.btn:hover {
    color: #4CAF50;
    background: #ffffff !important;
}

.flat .warning.btn:hover, .warning.flat.btn:hover, .flat .btn .flat .warning.btn:hover, .flat.btn .flat .warning.btn:hover {
    color: #ffad33;
    background: #ffffff !important;
}

.flat .danger.btn:hover, .danger.flat.btn:hover, .flat .btn .flat .danger.btn:hover, .flat.btn .flat .danger.btn:hover {
    color: #f44336;
    background: #ffffff !important;
}

.btn {
    background: #aeaeae;
    border: none;
    border-radius: 0;
    color: #ffffff;
    font-size: 0.75em;
    padding: 10px 25px;
}

.btn:hover {
    color: #ffffff;
    background: #d4d4d4;
}

.btn:focus, .focus.btn {
    box-shadow: #39a1f4 0 0 2px 2px;
}

.primary.btn:hover, .btn .modern .btn.primary:hover {
    color: #ffffff;
    background: #22e6ff !important;
}

.secondary.btn:hover, .btn .modern .btn.secondary:hover {
    color: #ffffff;
    background: #916dd1 !important;
}

.tertiary.btn:hover, .btn .modern .btn.tertiary:hover {
    color: #ffffff;
    background: #b0d683 !important;
}

.quaternary.btn:hover, .btn .modern .btn.quaternary:hover {
    color: #ffffff;
    background: #fff388 !important;
}

.quinary.btn:hover, .btn .modern .btn.quinary:hover {
    color: #ffffff;
    background: #ff1f1f !important;
}

.senary.btn:hover, .btn .modern .btn.senary:hover {
    color: #ffffff;
    background: #ffcc80 !important;
}

.prompt.btn:hover, .btn .modern .btn.prompt:hover {
    color: #ffffff;
    background: #6ab8f7 !important;
}

.info.btn:hover, .btn .modern .btn.info:hover {
    color: #ffffff;
    background: #47c4fd !important;
}

.success.btn:hover, .btn .modern .btn.success:hover {
    color: #ffffff;
    background: #80c883 !important;
}

.warning.btn:hover, .btn .modern .btn.warning:hover {
    color: #ffffff;
    background: #ffcc80 !important;
}

.danger.btn:hover, .btn .modern .btn.danger:hover {
    color: #ffffff;
    background: #f8877f !important;
}

.btn {
    display: inline-block;
    font-size: 0.75em;
    padding: 6px 18px;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.btn.x-small {
    font-size: 0.6em;
    padding: 4.8px 14.4px;
}

.btn.x-small if($border-radius > 0) {
    border-radius: 0;
}

.btn.small {
    font-size: 0.675em;
    padding: 5.4px 16.2px;
}

.btn.small if($border-radius > 0) {
    border-radius: 0;
}

.btn.large {
    font-size: 0.9375em;
    padding: 7.5px 22.5px;
}

.btn.large if($border-radius > 0) {
    border-radius: 0;
}

.btn.x-large {
    font-size: 1.125em;
    padding: 9px 27px;
}

.btn.x-large if($border-radius > 0) {
    border-radius: 0;
}

.btn.huge {
    font-size: 1.3125em;
    padding: 10.5px 31.5px;
}

.btn.huge if($border-radius > 0) {
    border-radius: 0;
}

/* ############################
    SVG Styles
    -   svg.scss
############################ */
.group svg {
    display: inline-block;
}

svg.black * {
    fill: #000000;
}

.black svg * {
    fill: #000000;
}

svg.inverse * {
    fill: #222222;
}

.inverse svg * {
    fill: #222222;
}

svg.highlight * {
    fill: #fffb98;
}

.highlight svg * {
    fill: #fffb98;
}

svg.white * {
    fill: #ffffff;
}

.white svg * {
    fill: #ffffff;
}

svg.transparent * {
    fill: transparent;
}

.transparent svg * {
    fill: transparent;
}

/* ############################
    Helper Styles
############################ */
.center {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-top-pad, .no-vert-pad, .no-pad {
    padding-top: 0;
}

.no-bottom-pad, .no-vert-pad, .no-pad {
    padding-bottom: 0;
}

.no-left-pad, .no-side-pad, .no-pad {
    padding-left: 0;
}

.no-right-pad, .no-side-pad, .no-pad {
    padding-right: 0;
}

.no-margin, .row.no-margin {
    margin: 0;
}

.cover {
    height: 100vh;
    width: 100%;
}

.valign-top {
    position: absolute;
    top: 0;
    bottom: none;
}

.valign-middle {
    position: absolute;
    top: 50%;
    bottom: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

valign-bottom {
    position: absolute;
    top: none;
    bottom: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.double-space, .double-space p {
    line-height: 200%;
}

.extra-space, .extra-space p {
    line-height: 166%;
}

.point-75-space, .point-75-space p {
    line-height: 175%;
}

.point-5-space, .point-5-space p {
    line-height: 150%;
}

.more-space, .more-space p {
    line-height: 133%;
}

.point-25-space, .point-25-space p {
    line-height: 125%;
}

/* ############################
    Application Styles
    -   scss/app.scss
############################ */
/* ############################
    Nav Styles
############################ */
.brand {
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    text-align: left;
    letter-spacing: 0.1em;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.brand span {
    font-family: 'Inconsolata', monospace;
}

/* ############################
    Banner Styles
############################ */
#city-banner {
    background-image: url(/images/banners/city.jpg);
    background-size: cover;
}
