// #############################
//  Font Normalization
// #############################

body {
    font-family: $font;
    color: $text-color;
}

textarea {
    font-family: $font;
    color: $text-color;
}

// #############################
//  Paragraphs
// #############################

p {
    text-align: left;
    line-height: 150%;
    font-size: 1em;
    margin-bottom: 15px;
    
    &.leading:first-letter {
        display: inline-block;
        font-size: 3em;
        margin-top: 12px;
        margin-right: 5px;
        float: left;
        font-family: 'Georgia', 'Times', serif;
        
        @include respond-to($m-small){
            margin-top: 12px;
        }
        @include respond-to($small){
            margin-top: 13px;
        }
        @include respond-to($medium){
            margin-top: 14px;
        }
        @include respond-to($large){
            margin-top: 15px;
        }
        @include respond-to($x-large){
            margin-top: 16px;
        }
    }

    &.leading:first-line {
        font-weight: bold;
    }
        
    &.lead-strong:first-line {
        font-weight: bold;
        font-size: 32px;
    }
}

.content p, p.content {
    @include flex-text(150%, 10%);
}

// #############################
//  Inline Styles
// #############################

a {
    text-decoration: none;
    color: $link-color;
    
    &:hover {
        color: $link-hover-color;
    }
    
    &:focus, &.focus,
    &:active, &.active {
        color: $link-focus-color;
    }
}

em {
    font-style: italic;
}

small {
    font-size: 80%;
}

strong {
    font-weight: bold;
}

// #############################
//  BlockQuotes
// #############################

q {
    @include normalize-quote();
}

@if ($blockquote-fancy == true){
    blockquote {
        background-color: $lightgrey;
        border: solid 4px rgba($grey, 0);    
        display: block;
        margin: 25px auto 15px;
        max-width: 680px;
        position: relative;
        text-align: center;
        width: 100%;

        @include transition();
        
        p {
            display: block;
            font-size: 150%;
            padding: 15px;
            quotes: "\201C""\201D""\2018""\2019";
            text-indent: 50px;
            
            &:before,
            &:after {
                font-size: 5em;
                font-family: $blockquote-font; 

            }
            
            &:before {
                content: open-quote;
                position: absolute;     
                color: $white;
                left: -55px;
                top: 25px;                
            }    
        }
        
        &:before {
            content: "";
            display: block;
            width: 60px;
            height: 60px;
            background-color: $grey;
            position: absolute;
            top: -20px;
            left: -10px;
            @include transition(transform 0.15s ease, 
                background-color 0.4s ease, 
                border-radius 0.4s ease,
                font-size 0.4s ease);
        }
        
        &:hover {
            border: solid 4px rgba($primary, 1);
            
            &:before {
                background-color: $primary;
                @include border-radius(10%);
                @include transform(rotateZ(45deg));
            }
        }
        
        /*
        &:before,
        &:after {
            font-family: $blockquote-font; 
            font-size: 3em;
            line-height: 0.1em;
            vertical-align: -0.5em;
        }

        &:before {
            margin-right: 0.25em;
            content: open-quote;
        }

        &:after {
            margin-left: 0.25em;
            content: close-quote;
        }
        */
    }
}

// #############################
//  Horizontal & Vertical Rules
// #############################

hr {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: lighten($grey, $light-5);
    
    &.break {
        border-width: 0 0 4px 0;
        width: 100%;
        margin: 20px 0;
        
        @include for-each-theme-color("border-color");
    }
    
    &.center {
        margin-left: auto;
        margin-right: auto;
    }
    
    &.short {
        width: 60px;
    }
    
    &.medium {
        width: 100px;
    }
    
    &.long {
        width: 140px;
    }
    
    &.qtr {
        width: 25%;
    }
    
    &.half {
        width: 50%;
    }
    
    &.three-qtr {
        width: 75%;
    }
    
    &.nine-tenths {
        width: 75%;
    }
    
    &.full {
        width: 60px;
    }
    
    &.double {
        height: 12px;
        border-width: 4px 0;
    }
}