// #############################
//  Font Settings
// #############################

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Inconsolata:400,700|Raleway:300,400,700,900');

$font:              'Raleway', sans-serif;
$font-size:         16px;
$text-color:        $black;

$heading-font:      'Raleway', sans-serif;
$thick-font:        'Bungee Inline', sans-serif;

$fa-font-path:      "../fonts/font-awesome/";

// #############################
//  Blockquote Settings
// #############################

$blockquote-fancy:  true;
$blockquote-font:   'Georgia', serif;

// #############################
//  Link Colors
// #############################

$link-color:                    $primary;
$link-hover-color:              lighten($primary, $light-3);
$link-focus-color:              $secondary;