{{!< layout/master.handlebars}}
{{!-- about.handlebars in views--}}
{{> components/banner 
    name="resume" 
    title="My Resume" 
    text="An overview of my experience"
    classes="cover"
    overlay-classes="light"
}}


<section id="job-history" class="white">
    <div class="container">
        <h1><span class="primary-text">Job</span> History</h1>
        <hr class="break primary short center">
        <div class="row job-details">
            <div class="col xs12 job-header">
                <h5 class="display primary">Web Designer / Developer</h5>
            </div>
            <div class="col xs12 m4 push-m8 job-photo">
                <figure id="weblications-photo">
                    <div class="square-container">
                        <div class="background"></div>
                    </div>
                    <figcaption>Weblications office building, located in Princeton, NJ.</figcaption>
                </figure>
            </div>
            <div class="col xs12 m8 pull-m4">
                <div class="row">
                    <div class="col xs8 job-title">
                        <h6>Weblications | Princeton, NJ</h6>
                    </div>
                    <div class="col xs4 job-date">
                        <h6>2016 &ndash; Present</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col xs12 job-summary">
                        <p>
                            Weblications is a small business located in Princeton, NJ, and one of the leading Website Development teams in all of Central Jersey. My job at Weblications is to design, implement, and maintain many sites for local business; including the Philidelphia Zoo, The Maclean Agency, and AAA Mid Atlantic. Sites are primarily run on Kentico, an enterprise ready Content Management System, making these sites easy to implement and maintain. I am responsible for configuring Kentico once installed, creating page templates, as well as teaching clients how to use Kentico to manage their own site.
                        </p>
                    </div>
                    <div class="col xs12 job-responsibilities">
                        <h6>Responsibilities: </h6>
                        <ul class="chips">
                            <li>Implement Designs from Photoshop</li>
                            <li>Design &amp; Implement new Features</li>
                            <li>Manage Client Websites</li>
                            <li>Client Training</li>
                            <li>Content Edits</li>
                            <li>Feature Testing</li>
                            <li>Troubleshooting</li>
                            <li>Photo Editing</li>
                        </ul>
                    </div>
                    <div class="col xs12 job-skills">
                        <h6>Skills Used: </h6>
                        <ul class="chips">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>jQuery</li>
                            <li>Kentico (CMS)</li>
                            <li>Node.js (As build tool)</li>
                            <li>Grunt.js</li>
                            <li>Sass</li>
                            <li>Brackets</li>
                            <li>Visual Studio</li>
                            <li>ASP.NET</li>
                            <li>C#</li>
                            <li>Outlook</li>
                            <li>Customer Service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="break"/>
        <div class="row job-details">
            <div class="col xs12 job-header">
                <h5 class="display danger">System Administrator</h5>
            </div>
            <div class="col xs12">
                <div class="row">
                    <div class="col xs12 m8">
                        <div class="row">
                            <div class="col xs12 s8 job-title">
                                <h6>Keller Williams, The Coppola Group | Morganville, NJ</h6>
                            </div>
                            <div class="col xs12 s4 job-date">
                                <h6>2013 &ndash; 2016</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col xs12 s4 push-s8 job-photo">
                <figure id="coppola-group-photo">
                    <div class="square-container">
                        <div class="background"></div>
                    </div>
                    <figcaption>Keller Williams, West Monmouth Office.</figcaption>
                </figure>
            </div>
            <div class="col xs12 s8 pull-s4">
                <div class="row">
                    <div class="col xs12 job-summary">
                        <p>
                            As part of The Coppola Group, I did system administration for my Dad's real estate team at the Keller Williams, West Monmouth Office. I was responsible for responding to and managing leads, email campaigns, managing contacts, and dealing with Keller Williams enterprise intranet systems. This included using the MLS listing service, modifying listing data, and gathering realtor reports. I was also responsible for managing and making changes to his websites, as well as designing flyers, email signatures, business cards, and more.
                        </p>
                    </div>
                    <div class="col xs12 job-responsibilities">
                        <h6>Responsibilities: </h6>
                        <ul class="chips">
                            <li>Manage Contacts</li>
                            <li>Email Campaigns</li>
                            <li>Mailing Campaigns</li>
                            <li>Gmail (Filters, Labels, etc.)</li>
                            <li>Manage Listings</li>
                            <li>Design Graphics</li>
                            <li>Photo Editing</li>
                            <li>Training</li>
                            <li>Manage Social Networks</li>
                            <li>Third Party Applications</li>
                        </ul>
                    </div>
                    <div class="col xs12 job-skills">
                        <h6>Skills Used: </h6>
                        <ul class="chips">
                            <li>Keller Williams Enterprise Apps</li>
                            <li>DotLoop</li>
                            <li>Photoshop</li>
                            <li>Microsoft Office</li>
                            <li>Computer Maintenance</li>
                            <li>Teamwork</li>
                            <li>Training</li>
                            <li>Marketing (Digital &amp; Print)</li>
                            <li>Social Networking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="education">
    <div class="background parallax"></div>
    <div class="overlay dark"></div>
    <div class="container">
        <h1 class="white-text">Education</h1>
        <hr class="break short center white"/>
        <div class="row">
            <div class="col xs12 l9">
                <div class="caption-box secondary"><h2>Brookdale Community College</h2></div>
            </div>
            <div class="col xs12 l3">
                <div class="caption-box primary"><h2>2011-2014</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col xs12">
                <div class="caption-box tertiary"><h4><em>Associates Degree in Computer Science</em></h4></div>
            </div>
        </div>
        <div class="row">
            <div class="col xs12">
                <div class="caption-box transparent warning-border"><span>Capstone Project</span></div>
                <div class="caption-box white black-text">
                    <p>Developed a Social Network from scratch using HTML, PHP, JQuery, AJAX, and MySQL. Project was done alone and all learning was done through individual research, presenting to the class every other week with live demo’s and Power Point presentations. Prior to this class I had no experience with any of the languages used or in web development. I chose to do a web project so that I could learn everything required to make websites. Features included full usage of AJAX and JQuery for a “Single Page App” feeling, simple login system using both cookies and sessions, a friend system, block system, and notification system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs12">
                <div class="caption-box transparent success-border"><span>Android Project</span></div>
                <div class="caption-box white black-text">
                    <p>After pushing for an Android class for two years, Brookdale Community College finally decided to try out a Mobile Application class as a trial run. Throughout the class we made many apps following the Android SDK training on the website. The final project I made was a social recipe app. This app pulled data from the Yummly recipe API, as well as additional information from a custom social network. This was my first time working with multiple databases and my first time with Android. My professor was blown away with how much work I got done in a few months. My project was far and above the rest, including thousands of lines of code more than anyone else in the class.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs12">
                <div class="caption-box transparent danger-border"><span>Classes Taken</span></div>
                <div class="caption-box white black-text">
                    <ul class="chips">
                        <li>Programming I &amp; II</li>
                        <li>Data Structures</li>
                        <li>Computer Architecture</li>
                        <li>Programming for Mobile Devices</li>
                        <li>Database Concepts</li>
                        <li>Operating Systems Technology</li>
                        <li>Systems Analysis &amp; Design</li>
                        <li>Advanced Software Project</li>
                        <li>Computer Logic &amp; Design</li>
                        <li>Calculus I, II, &amp; III</li>
                        <li>Physics I &amp; II</li>                        
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>